body {
  font-family: "Playfair", serif;
  font-size: 14pt;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
  line-height: 32px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: #565254;
}  
  
a:hover {
  color: #FF6F59;
}

.left {
  display: inline-block;
  position: relative;
  background-color: #CCBCBC;
  text-align: right;
  width: 50%;
  height: 800px;
}

.right {
  display: inline-block;
  position: absolute;
  width: 50%;
}

#name {
  padding: 100px 50px;
  color: #fff;
}

#projects {
  text-align: left;
  padding: 200px 20px;
  color: #565254;
}

#victoria {
  letter-spacing: 6px;
}